:root {
	--black: #2e2e35;
	--dgreen: #353f3a;
	--grass: #677162;
	--white: #fbfbfb;
}

body{
    margin: 0;
   justify-content: center;
  align-items: center;
  background-color: #e4e2df;
}
.cart-bg {
    background-color: var(--white);
    margin:auto;
    height: inherit;
    width: 50%;
    padding: 20px;
    position: relative;
}
.Checkbox {
    height: 20px;
    width: 20px;
}


.cart-con {
    width: 90%;
    background-color: var(--black);
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    box-sizing: border-box;
    position: relative; 
}

.cart-image img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
.cart-content{
    width: 100%;
    background-color: #e4e2df;
    height: 200px;
    padding-left: 20px;
    margin: 30px 30px 0px 0px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    flex: 1; 
}
.cart-info {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    float: left;
    flex: 1;
    width: 60%;
}

.quantity{
    display: flex;
}
.qty-input {
    width: 30px;
}
.qty-label {
    color: var(--black);  
}

.cart-info h2 {
    color: var(--white);
    background-color: var(--dgreen);
    padding-left: 20px;
    border-radius: 10px;
    width: 100%;
  
}
.price {
    margin-top: 10px;
}
.previous-price{
    font-size: 12px;
    font-family: 'Calibri';
    color: gray;
    display: block;
}

.check-out{
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.check-out-active{
    background-color: var(--gray);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.payment-options {
    width: 90%;
    margin: auto;
    background-color: var(--grass);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
  }
  
  .payment-con {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .payment-options button {
    margin-left: 10%;
    height: auto; 
    border: none;
  }
  
  .payment-options p {
    margin-left: 30px;
    margin-right: 5px; 
    font-family: 'Arial';
    color: #e4e2df;
    font-size: 14px;
  }
  
  .icon {
    display: flex;
    justify-content: space-between;
  }
  
  .icon i {
    margin-left: 5px; 
    font-size: 20px;
    color: #e4e2df;
  }
  
  
@media only screen and (max-width: 768px) {

    .cart-bg {
      width: 100%;
      margin: 0 auto;  
      margin-right: 0;
    }
  
    
    body {
      margin: 0;  /* Remove unnecessary body rule here */
    }
  
    .cart-con {
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center
    }
 
    .cart-image img {
      object-fit: fill;
      height: auto;
      border-radius: 10px; /* Add border radius to match the design */
      
    }
  
    .cart-content {
      height: auto;
      align-items: center;
      justify-content: center;
      margin: 0%;
      width: 100%;
      padding: 0%;
      box-shadow: none;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
    }
  
    .cart-info {
      margin-left: 75px;
    }
    .cart-info h2{
        width: 200px;
    }
  
    .quantity {
      flex-direction: column;
    }
  
    .check-out {
      width: 100%;
      font-size: 15px;
      
    }
  
    .payment-options {
      width: 100%;
      height: auto;
      
    }
  .payment-con{
   flex-wrap: wrap;
   padding-bottom: 10px;
   justify-content: center;
  }
    .payment-options button {
        margin: 0;
        padding: 10px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        height: 50px;
    }
  
    
    .payment-options p{
    font-size: 16px;
     margin-left: 10px;
     
     align-self: center;
    }
    .icon i {
     
    }
  }
  
  